.header-div {
    text-align: center;
    align-content: center;
    color: #6F3524;
    height: 40vh;
}
#header {
    width: 100%;
    background: #F3E195;
    height: fit-content;
}

img.header-img {
    display: block;
    float: left;
    height: 40vh;
    left: 20px;
    margin: 0px 0px 0px 200px;
}

.header-text {
    justify-content: center;
    align-content: center;
    padding: 2em;
    margin: 0px 100px 0px 0px;
}
