#mobileDiv {
    display: none;
}

.header-wrapper {
    color: #6F3524;
    height: auto;
}
#header {
    width: 100%;
    background: #F3E195;
    height: fit-content;
}

img.header-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    height: auto;
}

@media only screen and (max-width: 600px) {

#mobileDiv {
    display: block;
}

.header-div {
    text-align: center;
    align-content: center;
    height: 40vh;
}

img.header-img {
    width: 90vw;
}

}