.nav {
  height: 30px; 
  width: 100%; 
  position: fixed; 
  z-index: 1;
  bottom: 0; 
  left: 0;
  background-color: #815E5B; /* Black */
  padding-top: 20px;
  border-top: 3px solid #6F3524;
}

.nav a {
  color: whitesmoke;
  margin: 5px;
}

.nav a:hover {
  color: grey;
}

