img.logo {
    width: 22vw;
    height: 289px;
    border-bottom: 3px solid #6F3524;
}

.project-bio {
    padding: 5px;
}

p.desc {
    font-size: 16px;
}

p.desc a {
    color: #6F3524;
}
p.desc a:hover {
    color: black;
}

div.project {
    border: 2px solid #6F3524;
    margin: 10px 0px;
    width: 22vw;
    background: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    position: relative;

}

@media only screen and (max-width: 600px) {
    img.logo {
        width: 80vw;
        height: auto;
    }
    div.project {
        width: 80vw;
        display: flex;
        justify-content: center;
        margin: 5% 10%;
    }
}
