table, th, td {
    border: 1px solid #6F3524;
    border-collapse: collapse;
    width: 95vw;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 3px;
    margin: 0px 40px;
    color: #672e23;
}

div.tableDiv {
    border-bottom: 3px solid #6F3524;
}

h1 {
    color: #672e23;
}

th {
    background: #a9a9a9;
    font-size: 18px;
}

tr:nth-child(odd) {
    background: #d3d3d3;
}
tr:nth-child(even) {
    background: #f0f0f0;
}