table {
    border: 1px solid #6F3524;
    border-collapse: collapse;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 90%;
    color: #672e23;
}

th, td {
    border: 1px solid #6F3524;
    padding: 5px;
}

div.tableDiv {
    border-bottom: 3px solid #6F3524;
    width: 100vw;
}

h1 {
    color: #672e23;
}

th {
    background: #a9a9a9;
    font-size: 18px;
}

tr:nth-child(odd) {
    background: #d3d3d3;
}
tr:nth-child(even) {
    background: #f0f0f0;
}

@media only screen and (max-width: 600px) {

}