
.about {
    display: block;
	float: right;
    width: 50%;
    height: auto;
}
.floatleft {
    display: block;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50%;
}

img#me {
    z-index: 0;
    width: 100%;
}

img#dana {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

div.bio {
    display: inline-block;
    padding: 5px;
    color: #6F3524;
    background: white;
    border-top: 3px solid #6F3524;
}

p.bio {
    padding: 5%;
    margin: 5px;
    font-size: 20px;

}

.clear {
    clear: both;
}

@media only screen and (max-width: 768px) {
    .floatleft {
        float: none;
        width: 100%;
    }
    img#dana {
        width: 95%;
    }
    .about {
        float: none;
        width: 100%;
    }
}