a.button {
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: table-cell;
	font-size: 16px;
	margin: 4px 4px;
	border-color: white;
	border-radius: 8px;
	width: 30vw;
	background: #6F3524;
}
a.button:hover {
	color: grey;
}
