a.ContactLink {
    align-content: center;
}
.ContactLinkImg {
    width: 100px;
    height: auto;
}
.Links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
#Contact {
    /*background-color: #e8af78;
    border: 2px solid #6F3524;*/
    color: #6F3524;
}