.about {
    display: block;
	float: right;
	width: 50%;
}

img.image {
    display: block;
	float: left;
	width: 50%;
}

div.bio {
    padding: 5px;
}

p.bio {
    padding: 5%;
    margin: 5px;
    font-size: 20px;
}

.clear {
    clear: both;
}