a.button {
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: table-cell;
	font-size: 16px;
	margin: 4px 2px;
	border-color: white;
	border-radius: 8px;
	width: 30vw;
}
a.button:hover {
	color: black;
}
.button1 {background: #EF959A;}
.button2 {background: #6F3524;}
.button3 {background: #F1C47A;}
.button4 {background: #E8AF78;}