div.projects div.project-section {
    display: inline-table;
    display: flex; 
    justify-content: space-around;
    width: 100%;
}
div.projects {
    padding: 2px;
    display: block;
    color: #6F3524;
    background: #E8AF78;

}
div.row {
    display: table-row;
}